@media only screen and (min-width: 800px) and (max-width: 1099px){
	.main{
		margin-top: 250px;
	}

	.clock{
		flex-direction: row;
		align-items: flex-start;
		justify-content: center;
		border: none;
	}
	
}
